<html>
  <head>
    <title>Guard Status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"></link>
  </head>
  <body>
      <div class="container">
                <h1>Status ：<span class="status" id="status">{{ status }}</span></h1>

            <div id="imgDIV">
                {% if show == 1 %}
              <img id="mainImg" src="./show2.jpg">
                {% elif shot == 0 %}
              <img id="mainImg" src="{{ url_for('video_feed') }}">
                {% else %}
              <img id="mainImg" src="{{ url_for('shot_and_video_feed') }}">
                {% endif %}
            </div>


            <form method="post" action="{{ url_for('status') }}">
              <div>
              <button name="savePic" value="savePic">save picture</button>
              </div>
              <br>
              <div>
              <button name="cmd" value="turnLeft"> ＜ </button>
              <button name="cmd" value="keepGoing"> 囗 </button>
              <button name="cmd" value="turnRight"> ＞ </button>
              </div>
              <br>
              <div>
              <button name="cmd" value="setUp"> 設定模式 </button>
              <button name="cmd" value="execution"> 運行模式 </button>
              <button name="cmd" value="stopExec"> 停止運行 </button>
              </div>
            </form>

            <script>
                    var stat = document.getElementById("status")
                    console.log(stat)
                    var cmp = "{{ status }}";
                    console.log(cmp);
                    if(cmp == "Good"){
                        stat.style.color = "green";
                    }
                    else if(cmp == "Bad"){
                        stat.style.color = "red";
                    }
                </script>
            <script type="text/javascript">
              function imgExist(url) 
              {
                 var img = new Image();
                 img.src = url;
                 return img.height != 0;
              }
              function fileExists(url) {
                  if(url){
                      var req = new XMLHttpRequest();
                      req.open('GET', url, false);
                      req.send();
                      return req.status==200;
                  } else {
                      return false;
                  }
              }

              function showDetection(){
                console.log(imgExist("show.jpg"))
                if(imgExist("show.jpg")){
                var mainImg = document.getElementById('mainImg')
                var statusText = document.getElementById('status')
                mainImg.src = "show.jpg";
                statusText.innerText = "Warning!!";
                statusText.style.color = "red";
                }
              }
              // setInterval("showDetection()", 5000)
            </script>
        </div>
  </body>
</html>
