<html>
  <head>
    <title>Guard Status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"></link>
  </head>
  <body>
      <div class="container">
                <h1>Status ：<span class="status" id="status">{{ status }}</span></h1>

            <div id="imgDIV">
                {% if shot == 0 %}
              <img src="{{ url_for('video_feed') }}">
                {% else %}
              <img src="{{ url_for('shot_and_video_feed') }}">
                {% endif %}
            </div>


            <form method="post" action="{{ url_for('status') }}">
              <button name="savePic">save picture</button>
              <button name="turnLeft"> ＜ </button>
              <button name="turnRight"> ＞ </button>

            </form>

            <script>
                    var stat = document.getElementById("status")
                    console.log(stat)
                    var cmp = "{{ status }}";
                    console.log(cmp);
                    if(cmp == "Good"){
                        stat.style.color = "green";
                    }
                    else if(cmp == "Bad"){
                        stat.style.color = "red";
                    }
                </script>
        </div>
  </body>
</html>
